{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Crear Nueva Categoría</h2>
    <form method="post" action="{% url 'crear_categoria' %}" class="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a href="{% url 'listar_categorias' %}" class="btn btn-secondary ml-2">Volver al listado de categorías</a>
    </form>
  </div>
{% endblock %}
