{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Editar Producto</h2>
    <form method="post" action="{% url 'editar_producto' producto.id %}" class="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" value="{{ producto.nombre }}" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" class="form-control" required>{{ producto.descripcion }}</textarea>
      </div>
      <div class="form-group">
        <label for="categoria">Categoría:</label>
        <select name="categoria" class="form-control" required>
          {% for categoria in categorias %}
            <option value="{{ categoria.id }}" {% if categoria.id == producto.categoria.id %}selected{% endif %}>{{ categoria.nombre }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="d-flex">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <div class="mx-2"></div>
        <a href="{% url 'listar_productos' %}" class="btn btn-secondary">Volver al listado de productos</a>
      </div>
    </form>
  </div>
{% endblock %}
